body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    margin: 20px;
  }
  
  .input-box {
    width: 50px;
  }
  
  .button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
  }
  
  .button {
    width: 10em;
    height: 5em;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative; 
  }
  
  
  